<!DOCTYPE html>
<html lang="en">
<head class="mainHeader">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MICV</title>
    <link rel="stylesheet" href="../Assets/CSS/micv.css">
</head>
<body>
    <header class="mainHeader">
        <img class="mainHeader_img" src="../Assets/imgs/micvpic.jpg">
        <h1 class="mainHeader_title">MIRIAM CHAIRA</h1>
    </header>
    <main class="mainCV">
        <section class="mainCV_informacion">
        <h2 class="mainCV_informacion_title">Datos personales</h2>
        <ul class="mainCV_informacion_title_item">
            <li>
                <span>Nacionalidad: </span><strong>argentina</strong>
            </li>
            <li>
                <span>Fecha de Nacimiento: </span><strong>18/02/1982</strong>
            </li>
        </ul>
        </section>
        <section class="mainCV_informacion">
            <h2 class="mainCV_informacion_title">Educación</h2>
            <ul class="mainCV_informacion_title_item">
                <li>
                    <span>Terciario: </span><strong>IES Lenguas Vivas JRF</strong>
                </li>
                <li>
                    <span>Universitario: </span><strong>UNLaM</strong>
                </li>
            </ul>    
        </section>
    </main>
</body>
</html>